.header{
    margin-top: 70px;
    text-align: center;
    font-size: 4vw;
} 

@media screen and (min-width: 1200px) {
  .header {
     font-size: 50px;
  }
}

.form {
    margin-top: 100px;
}

.name {
    width: 500px;
    text-align: center;
}

.email {
    width: 500px;
    text-align: center;
}

.comment {
    width: 500px;
    height: 300px;
    resize: none;
}

* {
  box-sizing: border-box;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #B8B8B8;
}

input:focus {
  border-color: blue;
  transition: 1s;
}

#contactUs {
  margin-top: 100px;
}

#comment {
  margin-top: 50px;
}