.director {
    margin-top: 70px;
    text-align: center;
    font-size: 5vw;
    
}

@media screen and (min-width: 1200px) {
  .director {
     font-size: 70px;
  }
}

.hl {
    border-bottom: 3px solid blue;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 30px; 
}

.column {
    margin-top: 120px;
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    max-width: 700px;
}

.picture2 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/directorHeader.PNG");
    min-height: 75%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@media screen and (max-width: 880px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .column p {
    width: 85%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
}

@media screen and (max-width:880px) {
  .column h2 {
    width: 85%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
}