
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.bodyCont {
    max-width: 1200px;
    margin: auto;
}


.w3-bar .w3-button {
    padding: 16px;
}

.picture {
    background-position: center;
    background-size: cover;
    background-image: url("../images/test.jpg");
    min-height: 75%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.welcome {
    text-align: center;
    padding: 20px;
}

.welcomeCont {
    text-align: center;
    padding: 20px;
}

.hl {
    border-bottom: 3px solid blue;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 30px; 
}

.hl2 {
    border-bottom: 1px dashed gray;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 30px;
}

.hl3 {
    border-bottom: 3px solid blue;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 70px; 
}

.bandApp {
    text-align: center;
    padding-top: 80px
}

.bandAppCont {
    text-align: center;
    
}

.importantForms {
    text-align: center;
    padding-top: 80px
}

.importantFormsCont {
    text-align: center;
    
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
