
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.bodyCont {
    max-width: 1200px;
    margin: auto;
}


.w3-bar .w3-button {
    padding: 16px;
}

.picture {
    background-position: center;
    background-size: cover;
    background-image: url("../images/PottstownMarching.jpg");
    min-height: 75%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.welcome {
    text-align: center;
    padding: 20px;
}

.welcomeCont {
    text-align: center;
    padding: 20px;
}

.hl {
    border-bottom: 3px solid blue;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 30px; 
}

.hl2 {
    border-bottom: 1px dashed gray;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 30px;
}

.hl3 {
    border-bottom: 3px solid blue;
    width: 50%;
    position: absolute;
    left: 25%;
    padding-top: 70px; 
}

.bandApp {
    text-align: center;
    padding-top: 80px
}

.bandAppCont {
    text-align: center;
    
}

.importantForms {
    text-align: center;
    padding-top: 80px
}

.importantFormsCont {
    text-align: center;
    
}

.button {
    background-color: white;
    border: solid;
    border-color: #6b6b6b;
    border-width: 2px;
    color: #6b6b6b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    width: 280px;
    cursor: pointer;
}

.button:hover {
    background-color: #e6e6e6;
    transition: .2s;
}

.buttonBand {
    background-color: white;
    border: solid;
    border-color: #6b6b6b;
    border-width: 2px;
    color: #6b6b6b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    width: 280px;
    cursor: pointer;
}

.buttonBand:hover {
    background-color: #e6e6e6;
    transition: .2s;
}

.fa#social {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-twitter {
    background: #ababab;
    color: white;
    transition: 1s;
}

.fa-instagram {
    background: #ababab;
    color: white;
    transition: 1s;
}

.fa-instagram:hover {
    transform: scale(1.2);
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.fa-twitter:hover {
    transform: scale(1.2);
    transition: 1s;
    transition-timing-function: ease-in-out;
}



@media only screen and (min-width: 600px) {
    .button {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .insideContent {
        display: none;
    }

}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

